@import "settings/breakpoints";
@import "settings/variables";

:root {
  --header-height: 3rem;
  --header-border-width: 2px;

  --accordion-toggle-width: 2rem;
  --accordion-toggle-border-width: 1px;
  --commit-history-padding: 1rem;
  --commit-history-padding: 1rem;
  --commit-history-width: 25rem;
}

html {
  font-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
  line-height: 1.12;
  margin: 0;
}

p {
  line-height: 1.5;
  margin: 0;
}

.accordion {
  position: relative;
}

.accordion[open] {
  padding-right: 2rem;
}

.accordion[open] .accordion__summary {
  height: 0;
}

.accordion__summary {
  display: flex;
  height: 100%;
  list-style: none;

  &::-webkit-details-marker {
    display: none;
  }
}

.accordion[open] .accordion__closed {
  display: none;
}

.accordion__closed {
  display: flex;
  flex-direction: column;

  @media (min-width: $breakpoint--mobile) {
    flex-direction: row;
  }
}

.accordion[open] .accordion__opened {
  display: block;
}

.accordion__opened {
  display: none;
}

.accordion__toggle {
  align-items: center;
  border-bottom: solid var(--accordion-toggle-border-width) black;
  border-top: solid var(--accordion-toggle-border-width) black;
  color: black;
  cursor: pointer;
  display: flex;
  height: var(--accordion-toggle-width);
  justify-content: center;

  @media (min-width: $breakpoint--mobile) {
    border-bottom: inherit;
    border-left: solid var(--accordion-toggle-border-width) black;
    border-right: solid var(--accordion-toggle-border-width) black;
    border-top: inherit;
    height: auto;
    width: var(--accordion-toggle-width);
  }
}

.accordion__toggle--fill {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;

  @media (min-width: $breakpoint--mobile) {
    left: inherit;
    right: 0;
    top: 0;
  }
}

.page {
  margin: 0;
  min-height: 100vh;
}

.header {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: var(--header-height);
  border-bottom: solid var(--header-border-width) black;
}

.header__name {
  align-items: center;
  align-self: stretch;
  border-right: solid calc(var(--header-border-width) *0.5) black;
  display: flex;
  justify-content: center;
  width: calc(
    var(--commit-history-width) +
    var(--commit-history-padding) +
    var(--spacing--small) +
    var(--accordion-toggle-width) -
    var(--accordion-toggle-border-width)
  )
}

.header__navigation {
  flex-grow: 1;
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.navigation--next {
  justify-content: flex-end;
}

.navigation--previous {
  justify-content: flex-start;
}

.content {
  align-items: stretch;
  display: flex;
  flex-direction: column;

  @media (min-width: $breakpoint--mobile) {
    flex-direction: row;
  }
}

.content__item {
  @media (min-width: $breakpoint--mobile) {
    height: calc(
      100vh -
      var(--header-height) -
      var(--header-border-width)
    );
  }
}

.content__item--grow {
  flex-grow: 1;
}

.commit {
}

.commit-content--grid {
  display: flex;
  flex-direction: column;

  @media (min-width: $breakpoint--mobile) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.commit-content--single {
  flex-grow: 1;
}

.u-mb-overflow-x--scroll {
  overflow-x: scroll;

  @media (min-width: $breakpoint--mobile) {
    overflow-x: initial;
  }
}

.commit-history {
  display: flex;
  flex-direction: row;
  width: 100vw;

  @media (min-width: $breakpoint--mobile) {
    flex-direction: column;
    padding: calc(var(--commit-history-padding) * 0.5);
    width: inherit;
  }
}

.commit-history--full {
  margin-bottom: var(--accordion-toggle-width);

  @media (min-width: $breakpoint--mobile) {
    margin-bottom: inherit;
  }
}

.commit-node {
  --circle-size: 1rem;

  align-items: center;
  display: flex;
  flex-direction: column;
  padding: var(--spacing--small);
  position: relative;

  &::before {
    background-color: black;
    border-radius: 100%;
    content: "";
    display: block;
    flex-grow: 0;
    flex-shrink: 0;
    height: var(--circle-size);
    margin-right: var(--circle-size);
    width: var(--circle-size);
    z-index: 1;
  }

  &::after {
    background-color: black;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    width: 100%;
    left: var(--circle-size);
    top: calc(
      var(--circle-size) * 0.5 +
      var(--spacing--small)
    );

    @media (min-width: $breakpoint--mobile) {
      height: 100%;
      left: calc(var(--circle-size) * 0.5);
      top: var(--circle-size);
      width: 1px;
    }
  }

  &:last-child {
    padding-bottom: 0;
  }

  &:last-of-type::after {
    display: none;
  }

  &[aria-current]:not([aria-current="false"]) {
    &::before {
      background-color: green;
    }
  }

  @media (min-width: $breakpoint--mobile) {
    flex-direction: row;
    padding: 0;
    padding-right: var(--spacing--small);
    padding-bottom: var(--spacing--small);
  }
}

.commit-node--collapsed {
  &::before {
    margin-right: 0;
  }
}

.commit-node--full {
  width: var(--commit-history-width);
}

.commit {
  --commit-font-size: 1.12rem;

  font-size: var(--commit-font-size);
}

.commit--long-content {
  @media (min-width: $breakpoint--mobile) {
    overflow-y: auto;
  }
}

.commit--message {
  --commit-message-margin: 1.5rem;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-bottom: var(--commit-message-margin);
  }

  h1 {
    font-size: 1.728em;

    @media (min-width: $breakpoint--mobile) {
      font-size: 2.0736em;
    }
  }

  h2 {
    font-size: 1.44em;

    @media (min-width: $breakpoint--mobile) {
      font-size: 1.728em;
    }
  }

  h3 {
    font-size: 1.2em;

    @media (min-width: $breakpoint--mobile) {
      font-size: 1.44em;
    }
  }

  h4 {
    font-size: 1em;

    @media (min-width: $breakpoint--mobile) {
      font-size: 1.2em;
    }
  }

  img {
    box-shadow:
      inset 0 -3em 3em rgba(0,0,0,0.1),
            0 0  0 2px rgb(255,255,255),
            0.3em 0.3em 1em rgba(0,0,0,0.3);
    max-width: 100%;
  }

  pre {
    margin: 0;
  }

  pre code {
    padding: 0;
  }
}

.banner {
  text-align: center;
  padding: var(--commit-font-size);
  width: 100%;
}

.commit--message {
  padding: calc(var(--commit-font-size) * 0.5);

  @media (min-width: $breakpoint--mobile) {
    padding: calc(var(--commit-font-size) * 2) calc(var(--commit-font-size) * 6);
  }

  div.highlight {
    margin-bottom: var(--commit-message-margin);
    overflow-x: auto;
    padding: var(--commit-font-size);
  }
}

.commit--diff {
  --commit-font-size: 0.8333rem;

  @media (min-width: $breakpoint--mobile) {
  --commit-font-size: 1.12rem;
  }

  .highlight {
    overflow-x: auto;
  }
}
