<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= page[:title] || current_page.data.title %></title>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body class="page">
    <details id="table-of-contents" class="page__history" open>
      <summary class="page__history-summary">
        Table of Contents
      </summary>
      <nav class="history">
        <a href="/index.html">
          git-read
        </a>

        <a href="#">
          [GENERATED]: Scaffold the project with Middleman
        </a>

        <a href="#">
          Elaborate on the project's goals in the README.md
        </a>
      </nav>
    </details>

    <main class="page__content">
      <header class="navigation">
        <a href="#">
          &#8592; Previous
        </a>

        <a href="#">
          Next &#8594;
        </a>
      </header>

      <article class="commit">
        <%= yield %>
      </article>
    </main>
  </body>
</html>
