---
title: Elaborate on the project's goals in the README.md
---

<h1>
  git-read
</h1>

<p>
  Generate a website based on a project's Git history.
</p>

<ul>
  <li>
    Serve the project's
    <code>README.md</code>
    as the homepage
  </li>
  <li>
    Index the history through its commits
  </li>
  <li>
    Transforms commit messages HTML through a syntax-aware Markdown parser
  </li>
  <li>
    Display the commits alongside their code changes
  </li>
</ul>

<h2>
  Command-line Interface
</h2>

<p>
  Once installed, make sure that the
  <code>bin/git-read</code>
  executable is available on
  your path so that the
  <a href="http://mirrors.edge.kernel.org/pub/software/scm/git/docs/howto/new-command.html">
    <code>git</code> program can invoke it as a subcommand
  </a>.
</p>

<p>
  To learn of the ways to to invoke the command, execute
  <code>git read --help</code>
  :
</p>

<code>
  <pre>
    usage: git read [--help] [-v|--verbose] [-s|--server|--serve]
                    [-g | --git-dir &lt;path&gt;] [-o | --output-dir &lt;path&gt;]
    Generate HTML from your project's Git history

    OPTIONS
          --output-dir
              specify the directory where the site will be built
          --git-dir
              specify the parent directory of the project's .git/ directory
          --verbose
              print debugging information during the build process
          --server
              build and serve assets with a server available at
              http://127.0.0.1:4567
          --help
              generate this help output
  </pre>
</code>
