.container {
  display: flex;
  flex-direction: column;

  @media(min-width: $breakpoint--mobile) {
    flex-direction: row;
  }
}

.container__item {
  @media(min-width: $breakpoint--mobile) {
    width: 50%;

    &:only-child {
      width: 100%;
    }
  }
}
