.history {
  display: flex;
  flex-direction: column;
}

.history > * {
  --circle-size: 1rem;

  align-items: center;
  display: flex;
  flex-direction: row;
  padding-bottom: var(--spacing--small);
  position: relative;

  &::before {
    background-color: black;
    border-radius: 100%;
    content: "";
    display: block;
    flex-grow: 0;
    flex-shrink: 0;
    height: var(--circle-size);
    margin-right: var(--circle-size);
    width: var(--circle-size);
    z-index: 1;
  }

  &::after {
    background-color: black;
    content: "";
    display: block;
    height: 100%;
    left: calc(var(--circle-size) * 0.5);
    position: absolute;
    top: var(--circle-size);
    width: 1px;
  }

  &:last-of-type::after {
    display: none;
  }

  &[aria-current]:not([aria-current="false"]) {
    text-decoration: none;
  }

  &[aria-current]:not([aria-current="false"])::before {
    background-color: green;
  }
}

.history > *:last-child {
  padding-bottom: 0;
}
