.history {
  display: flex;
  flex-direction: column;

  & > * {
    display: flex;
    align-items: center;
    flex-direction: row;
    border-left: solid 1px black;
    padding-bottom: var(--spacing--small);
    margin-left: var(--spacing--small);

    &::before {
      content: "";
      display: block;
      border-radius: 100%;
      background-color: black;
      padding-left: var(--spacing--small);
      margin-left: calc(var(--spacing--small) * -0.5);
      margin-right: var(--spacing--small);
      height: var(--spacing--small);
      width: var(--spacing--small);
    }
  }

  & > *:last-child {
    padding-bottom: 0;
  }
}
