.page {
  --history-width: 360px;

  display: flex;
  flex-direction: column;
}

.page__navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.page__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.page__history {
  min-height: 100vh;
}

.page__history-conatiner {
  max-width: 360px;
}
